{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Cargar ventas georreferenciadas</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ventas_geo/cargar_ventas.css' %}">
    <link rel="icon" href="{% static 'ventas_geo/images/logoquinta2.png' %}" />
</head>
<body>

<div class="contenedor">
    <div class="box">

        <h1>Cargar archivo de ventas</h1>

        <div class="info">
            <strong>Formato esperado:</strong><br>
            producto | local | direccion | comuna | ciudad | cantidad | fecha
        </div>

        {% if messages %}
            <div class="messages">
                {% for message in messages %}
                    <div class="msg {% if message.tags == 'success' %}success{% else %}error{% endif %}">
                        {{ message }}
                    </div>
                {% endfor %}
            </div>
        {% endif %}

        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="campo">
                <label>Archivo:</label>

                <div class="file-input">
                    <input type="file" name="archivo" id="id_archivo">
                    <label for="id_archivo" class="file-label">
                        Seleccionar archivo 📂
                    </label>
                    <span id="file-name">Ningún archivo seleccionado</span>
                </div>
            </div>

            <div class="campo">
                {{ form.observacion.label_tag }}
                {{ form.observacion }}
            </div>

            <div class="botones">
                <button type="submit" class="btn-procesar">
                    Procesar archivo
                </button>

                <a href="{% url 'index' %}" class="btn-volver">
                    Volver al inicio
                </a>
            </div>
        </form>

    </div>
</div>
<script>
    const fileInput = document.getElementById('id_archivo');
    const fileName = document.getElementById('file-name');

    fileInput.addEventListener('change', function() {
        if (this.files.length > 0) {
            fileName.textContent = this.files[0].name;
        } else {
            fileName.textContent = "Ningún archivo seleccionado";
        }
    });
</script>

</body>
</html>