{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Resultado carga</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Fuente -->
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'ventas_geo/resultado_carga.css' %}">
    <link rel="icon" href="{% static 'ventas_geo/images/logoquinta2.png' %}" />    
</head>
<body>

<div class="box">

    <h1>Resultado de la carga</h1>

    <div class="resumen">
        <div class="card-info">
            <strong>ID carga</strong>
            <span>{{ carga.id }}</span>
        </div>

        <div class="card-info">
            <strong>Archivo</strong>
            <span>{{ carga.archivo.name }}</span>
        </div>

        <div class="card-info">
            <strong>Filas leídas</strong>
            <span>{{ carga.filas_leidas }}</span>
        </div>

        <div class="card-info">
            <strong>Filas correctas</strong>
            <span>{{ carga.filas_ok }}</span>
        </div>

        <div class="card-info">
            <strong>Filas con error</strong>
            <span>{{ carga.filas_error }}</span>
        </div>
    </div>

    <div class="acciones">
        <a class="btn btn-secondary" href="{% url 'ventas_geo:cargar_ventas' %}">
            Nueva carga
        </a>

        <a class="btn btn-primary" href="{% url 'ventas_geo:dashboard_ventas_geo' carga.id %}">
            Ver dashboard
        </a>
    </div>

    <h2>Errores</h2>

    <table>
        <thead>
            <tr>
                <th>Fila Excel</th>
                <th>Mensaje</th>
                <th>Datos fila</th>
            </tr>
        </thead>
        <tbody>
            {% for error in errores %}
            <tr>
                <td>{{ error.fila_excel }}</td>
                <td>{{ error.mensaje }}</td>
                <td><pre>{{ error.datos_fila }}</pre></td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="3" class="sin-errores">
                    No hubo errores en la carga ✔
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

</div>

</body>
</html>