{% load static %}


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'calculo_oee/estilos_r_resumen_turno.css' %}">
    <link rel="icon" href="{% static 'calculo_oee/images/logoquinta2.png' %}" />
    <title>Resumen del Turno</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'calculo_oee/images/logoquinta.png' %}" alt="logo" class="logo">
            <div class="login-container">
                <h1 class="title">Resumen del Turno</h1>
            </div>
        <h1>Resumen del Turno {{ contexto.turno }} - Línea {{ contexto.linea }} - {{ contexto.fecha }}</h1>
        <ul>
            <li><strong>Fecha:</strong> {{ contexto.fecha }} min</li>
            <li><strong>Cliente:</strong> {{ contexto.cliente }} </li>
            <li><strong>Codigo:</strong> {{ contexto.codigo }}</li>
            <li><strong>Producto:</strong> {{ contexto.producto }}</li>
            <li><strong>Linea:</strong> {{ contexto.linea }}</li>
            <li><strong>Turno:</strong> {{ contexto.turno }}</li>
            <li><strong>Tiempo planeado:</strong> {{ contexto.tiempo_planeado }}</li>
            <li><strong>Tiempo de paro:</strong> {{ contexto.tiempo_paro }} min</li>
            <li><strong>Producción teórica:</strong> {{ contexto.produccion_teorica }} unidades</li>
            <li><strong>Producción real:</strong> {{ contexto.produccion_real }} unidades</li>
            <li><strong>Productos buenos:</strong> {{ contexto.productos_buenos }}</li>
            <li><strong>Productos malos:</strong> {{ contexto.productos_malos }}</li>
            <li><strong>Disponibilidad:</strong> {{ contexto.disponibilidad }}%</li>
            <li><strong>Rendimiento:</strong> {{ contexto.rendimiento }}%</li>
            <li><strong>Calidad:</strong> {{ contexto.calidad }}%</li>
            <li><strong><u>OEE:</u></strong> {{ contexto.oee }}%</li>
        </ul>
    </div>
    <div class="botones">
        <form class="form" action="{% url 'redireccionar_selecciones_2' %}">
            <button class="primary-button login-button">Salir</button>
        </form>
    </div>
</body>
</html>