{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'historial_termometro/estilos_r_historial_termometro.css' %}">
    <link rel="icon" href="{% static 'historial_termometro/images/logoquinta2.png' %}" />
    <title>Registro historial termometro R-POE-E-07-01</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'historial_termometro/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Registro historial termometro R-POE-E-07-01</h1>
            <p class="subtitle">Solo ingresar una vez datos de quien registra</p>
            <label class="label">Nombre tecnologo calidad</label>
            <input type="text" class="input" id="nombre-tecnologo">
            <label class="label">Fecha</label>
            <input class="input" type="datetime-local" id="fecha-reg">
        </div>
        <div class="login-container">
            <label class="label">Codigo termometro</label>
            <input type="text" class="input" id="codigo-termometro">
            <p class="subtitle">Lectura termometro patron °C (X1)</p>
            <form class="form" method="POST" id="miFormulario"></form>
                <form class="form" method="POST">
                    <label class="label">X1-M1</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor1" value="0">
                    <label class="label">X1-M2</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor2" value="0">
                    <label class="label">X1-M3</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor3" value="0">
                    <label class="label">X1-M4</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor4" value="0">
                    <label class="label">X1-M5</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor5" value="0">
                    <label class="label">Resultado promedio X1</label>
                    <div class="sub-container">
                        <output name="resultado1" id="outputx1">0.0</output>
                    </div>
                    <button type="button" class="primary-button login-button" id="boton1" onclick="btnOnClick()">Ver promedio X1</button>
                </form>

                <p class="subtitle">Lectura termometro trabajo °C (X2)</p>
                <form class="form" method="POST">
                    <label class="label">X2-M1</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor6" value="0">
                    <label class="label">X2-M2</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor7" value="0">
                    <label class="label">X2-M3</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor8" value="0">
                    <label class="label">X2-M4</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor9" value="0">
                    <label class="label">X2-M5</label>
                    <input class="input" type="number" min="-5.0" max="5.0" step="0.1" id="valor10" value="0">
                    <label class="label">Resultado promedio X2</label>
                    <div class="sub-container">
                        <output name="resultado2" id="outputx2">0.0</output>
                    </div>
                    <button type="button" class="primary-button login-button" id="boton2" onclick="btnOnClick2()">Ver promedio X2</button>
                </form>
                
                <p class="subtitle">Calculo promedio °C (X3)</p>
                <label class="label">Factor Anual (E)</label>
                <input class="input" type="number" min="-2.0" max="2.0" step="0.1" id="factan" value="0">
                <label class="label">Resultado promedio X3</label>
                <div class="sub-container">
                    <output name="resultado3" id="outputx3">0.0</output>
                </div>

                <button type="button" class="primary-button login-button" id="boton3" onclick="btnOnClick3()">Ver promedio X3</button>

                <label class="label">Nivel de aceptacion</label>
                <div class="sub-container">
                    <output name="resultado4" id="outputx4">0.0</output>
                </div>
                <label class="label">Cumplimiento</label>
                <div class="sub-container">
                    <p class="subtitle" id="regla">Sin datos</p>
                </div>
                
                <label class="label">AC</label>
                <select class="input" id="ac">
                    <option value="blanco"> </option>
                    <option value="op1">1</option>
                </select>
                <p class="sub-subtitle">(1) Si durante el monitoreo la temperatura del producto no cumple con especificacion, se debera dar un golpe de frio al producto y verificar nuevamente la temperatura.</p>

                <label class="label">VAC</label>
                <select class="input" id="vac">
                    <option value="blanco"> </option>
                    <option value="cumple">Cumple</option>
                    <option value="nocumple">No cumple</option>
                </select>
                <!-- <button class="secundary-button login-button2" type="submit" id="miBoton">Grabar y continuar</button> -->
            </form>
        </div>
        <div class="botones">
            <form class="form">
                <button class="secundary-button login-button2" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="#">
                <button class="secundary-button login-button2">Grabar y salir</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="secundary-button login-button2">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'historial_termometro/scrips_r_historial_termometro.js' %}"></script>
</body>
</html>