<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="./Estilos-CSS/estilos_r_control_material_extraño.css">
    <link rel="icon" href="./Estilos-CSS/logoquinta2.png" />
    <title>Control de material extraño R-POE-Q-15-02</title>
</head>
<body>
    <div class="login">
        <img src="./Estilos-CSS/logoquinta.png" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Control de material extraño R-POE-Q-15-02</h1>
            <p class="subtitle">Solo ingresar una vez datos de quien registra</p>
            <label class="label">Nombre tecnologo calidad</label>
            <input type="text" class="input" id="nomb-tec">
            <label class="label">Fecha</label>
            <input class="input" type="datetime-local" id="fecha-reg">
            <label class="label">Turno</label>
                <select class="input" id="turno">
                    <option value="blanco"> </option>
                    <option value="turnoa">A</option>
                    <option value="Turnob">B</option>
                    <option value="turnoc">C</option>
                </select>
        </div>
        <div class="login-container">
            <label class="label">Area material</label>
                <select class="input" id="area">
                    <option value="blanco"> </option>
                    <option value="op1">Recepcion</option>
                    <option value="op2">Almacenamiento BMP</option>
                    <option value="op3">Pasillo central</option>
                    <option value="op4">Batidos</option>
                    <option value="op5">Hornos</option>
                    <option value="op6">Sala de cremas</option>
                    <option value="op7">Sala dosificado</option>
                    <option value="op8">Sala de prelista</option>
                    <option value="op9">Pasteleria</option>
                    <option value="op10">Sala de quimicos</option>
                    <option value="op11">Sala panqueques</option>
                    <option value="op12">Sala de masas</option>
                    <option value="op13">Envasado insumos</option>
                    <option value="op14">Envasado PT</option>
                    <option value="op15">Tuneles ultra congelado</option>
                    <option value="op16">Camara congelado</option>
                    <option value="op17">Camara de refrigerado/refresh</option>
                    <option value="op18">Bodega productos terminados</option>
                    <option value="op19">Puertas</option>
                    <option value="op20">Oficinas</option>
                    <option value="op21">Filtro sanitario</option>
                </select>
            
            <label class="label">Tipo material</label>
                <select class="input" id="tipo-material">
                    <option value="blanco"> </option>
                    <option value="vidrio">Vidrio</option>
                    <option value="plastico">Plastico</option>
                    <option value="metal">Metal</option>
                    <option value="madera">Madera</option>
                </select>

            <label class="label">AC</label>
                <select class="input" id="ac">
                    <option value="blanco"> </option>
                    <option value="op1">1</option>
                    <option value="op2">2</option>
                    <option value="op3">3</option>
                    <option value="op4">4</option>
                    <option value="op5">5</option>
                    <option value="op6">6</option>
                </select>
            <p class="sub-subtitle">(1) Si durante el monitoreo se observa una particula contaminante en algun producto este se debe segregar en area de producto no conforme (PNC)</p>
            <p class="sub-subtitle">(2) Si durante el monitoreo se observan envases de vidrio sin proteccion, se debe solicitar al operario de produccion envolver el producto con film.</p>
            <p class="sub-subtitle">(3) Si durante el monitoreo se observan presencia de pallet de madera, se debe solicitar al operario del area envolver el pallet con film.</p>
            <p class="sub-subtitle">(4) Si durante la liberacion del producto se presenta una desviacion, se debe seguir el conducto estipulado en el procedimiento.</p>
            <p class="sub-subtitle">(5) Si durante el monitoreo se evidencian plasticos rotos, se debe realizar el retiro correspondiente y cambio de articulo.</p>
            <p class="sub-subtitle">(6) Si durante el monitoreo se evidencian partes de artefactos o maquinaria en mal estado propensos a contaminar el producto. Dar aviso a mantenimiento para que esta sea reparada o cambiada en su totalidad segun lo requiera.</p>

            <label class="label">VAC</label>
                <select class="input" id="vac">
                    <option value="blanco"> </option>
                    <option value="cumple">Cumple</option>
                    <option value="nocumple">No cumple</option>
                    <option value="noaplica">No aplica</option>
                </select>

            <label class="label">Observaciones</label>
            <input type="text" class="input" id="observaciones">
        </div>
        <div class="botones">
            <form class="form" action="#">
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="#">
                <button class="primary-button login-button">Grabar y salir</button>
            </form>
            <form class="form" action="./selecciones.html">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="./Scrips-JS/scrip_r_control_material_extraño.js"></script>
</body>
</html>