{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'control_material_extraño/estilos_r_control_material_extraño.css' %}">
    <link rel="icon" href="{% static 'control_material_extraño/images/logoquinta2.png' %}" />
    <title>Control de material extraño R-POE-Q-15-02</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'control_material_extraño/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Control de material extraño R-POE-Q-15-02</h1>
            <p class="subtitle">Solo ingresar una vez datos de quien registra</p>
            <label class="label">Nombre tecnologo calidad</label>
            <input type="text" class="input" id="nomb-tec">
            <label class="label">Fecha</label>
            <input class="input" type="datetime-local" id="fecha-reg">
            <label class="label">Turno</label>
                <select class="input" id="turno">
                    <option value="blanco"> </option>
                    <option value="Turno A">A</option>
                    <option value="Turno B">B</option>
                    <option value="Turno C">C</option>
                </select>
        </div>
        <div class="login-container">
            <label class="label">Area material</label>
                <select class="input" id="area">
                    <option value="blanco"> </option>
                    <option value="Recepcion">Recepcion</option>
                    <option value="Almacenamiento BMP">Almacenamiento BMP</option>
                    <option value="Pasillo central">Pasillo central</option>
                    <option value="Batidos">Batidos</option>
                    <option value="Hornos">Hornos</option>
                    <option value="Sala de cremas">Sala de cremas</option>
                    <option value="Sala dosificado">Sala dosificado</option>
                    <option value="Sala de prelista">Sala de prelista</option>
                    <option value="Pasteleria">Pasteleria</option>
                    <option value="Sala de quimicos">Sala de quimicos</option>
                    <option value="Sala panqueques">Sala panqueques</option>
                    <option value="Sala de masas">Sala de masas</option>
                    <option value="Envasado insumos">Envasado insumos</option>
                    <option value="Envasado PT">Envasado PT</option>
                    <option value="Tuneles ultra congelado">Tuneles ultra congelado</option>
                    <option value="Camara congelado">Camara congelado</option>
                    <option value="Camara de refrigerado/refresh">Camara de refrigerado/refresh</option>
                    <option value="Bodega productos terminados">Bodega productos terminados</option>
                    <option value="Puertas">Puertas</option>
                    <option value="Oficinas">Oficinas</option>
                    <option value="Filtro sanitario">Filtro sanitario</option>
                </select>
            
            <label class="label">Tipo material</label>
                <select class="input" id="tipo-material">
                    <option value="blanco"> </option>
                    <option value="Vidrio">Vidrio</option>
                    <option value="Plastico">Plastico</option>
                    <option value="Metal">Metal</option>
                    <option value="Madera">Madera</option>
                </select>

            <label class="label">AC</label>
                <select class="input" id="ac">
                    <option value="blanco"> </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                </select>
            <p class="sub-subtitle">(1) Si durante el monitoreo se observa una particula contaminante en algun producto este se debe segregar en area de producto no conforme (PNC)</p>
            <p class="sub-subtitle">(2) Si durante el monitoreo se observan envases de vidrio sin proteccion, se debe solicitar al operario de produccion envolver el producto con film.</p>
            <p class="sub-subtitle">(3) Si durante el monitoreo se observan presencia de pallet de madera, se debe solicitar al operario del area envolver el pallet con film.</p>
            <p class="sub-subtitle">(4) Si durante la liberacion del producto se presenta una desviacion, se debe seguir el conducto estipulado en el procedimiento.</p>
            <p class="sub-subtitle">(5) Si durante el monitoreo se evidencian plasticos rotos, se debe realizar el retiro correspondiente y cambio de articulo.</p>
            <p class="sub-subtitle">(6) Si durante el monitoreo se evidencian partes de artefactos o maquinaria en mal estado propensos a contaminar el producto. Dar aviso a mantenimiento para que esta sea reparada o cambiada en su totalidad segun lo requiera.</p>

            <label class="label">VAC</label>
                <select class="input" id="vac">
                    <option value="blanco"> </option>
                    <option value="Cumple">Cumple</option>
                    <option value="No cumple">No cumple</option>
                    <option value="No aplica">No aplica</option>
                </select>

            <label class="label">Observaciones</label>
            <input type="text" class="input" id="observaciones">
        </div>
        <div class="botones">
            <form class="form">
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'control_material_extraño/scrip_r_control_material_extraño.js' %}"></script>
</body>
</html>