{% load static %}
{% load my_custom_filters %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'inicio/estilos_verificar.css' %}">
    <link rel="icon" href="{% static 'inicio/images/logoquinta2.png' %}" />
    <title>Seleccion de descargas</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'inicio/images/logoquinta.png' %}" alt="logo" class="logo">
        <h1 class="title">Verifica estos registros</h1>
        <div class="login-container">
            <p class="subtitle">Registros no verificados {{ config }}</p>
            <div class="{{ config }}">
            {% for nombres in nombres_campos %}
                <span>{{ nombres }}</span>
            {% endfor %}
            </div>
            {% for dato in datos %}
                <div class="usuario_{{ config }}" id="usuario">
                    {% for nombre in nombres_campos %}
                        {% if nombre == 'verificado' %}
                            <input type="checkbox" class="checkbox_{{ config }}">
                        {% else %}
                            <span class="{{ nombre }}">{{ dato|getattribute:nombre }}</span>
                        {% endif %}
                    {% endfor %}
                </div>
            {% endfor %}
        </div> 
        <div class="pagination">
            <span class="step-links">
                {% if datos.has_previous %}
                    <a href="?config={{ config }}&page=1">&laquo; primero</a>
                    <a href="?config={{ config }}&page={{ datos.previous_page_number }}">anterior</a>
                {% endif %}
        
                <span class="current">
                    Página {{ datos.number }} de {{ datos.paginator.num_pages }}
                </span>
        
                {% if datos.has_next %}
                    <a href="?config={{ config }}&page={{ datos.next_page_number }}">siguiente</a>
                    <a href="?config={{ config }}&page={{ datos.paginator.num_pages }}">último &raquo;</a>
                {% endif %}
            </span>
        </div>  
        <div class="button-container">
            <form class="form" id="miBoton">
                {% csrf_token %}
                <button class="primary-button button">Guardar cambios</button>  
            </form>
            <form class="form" action="{% url 'seleccion_verifica' %}">
                <button class="primary-button button">Volver inicio</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript">
        let config = "{{ config }}";  // Asignando el valor de Django 'config' a una variable JS
    </script>
    <script src="{% static 'inicio/scrips_verificar.js' %}"></script>
</body>
</html>