{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'monitoreo_del_agua/estilos_r_monitoreo_de_agua.css' %}">
    <link rel="icon" href="{% static 'monitoreo_del_agua/images/logoquinta2.png' %}" />
    <title>Monitoreo del agua R-POES-Q-01-01</title> 
</head>
<body>
    <div class="ingreso">
    <img src="{% static 'monitoreo_del_agua/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="container">
            <div class="subcontainer">
                <h1 class="title">Monitoreo de agua R-POES-Q-01-01</h1>
            </div>
        </div>
        <div class="container">
            <h2 class="title">Ingreso datos monitoreo</h2>
            <p class="subtitle">Ingresar cada registro y luego grabar</p>

            <form class="form" method="POST" id="miFormulario">
                <div class="subcontainer">
                    <label class="label">Turno</label>
                    <select class="input" id="turno">
                        <option value="blanco"> </option>
                        <option value="Turno A">A</option>
                        <option value="Turno B">B</option>
                        <option value="Turno C">C</option>
                    </select>

                    <label class="label">Planta</label>
                    <select class="input" id="planta">
                        <option value="blanco"> </option>
                        <option value="curico">Curico</option>
                        <option value="pv">Puerto vespucio</option>
                        <option value="enea">ENEA</option>
                    </select>

                    <label class="label">N° de llave</label>
                    <input class="input" type="number" min="1" max="20" id="numero-llave">

                    <label class="label">Punto de muestreo</label>
                    <select class="input" id="punto-muestreo">
                        <option value="blanco"> </option>
                        <option value="zona 1">zona 1</option>
                        <option value="zona 2">zona 2</option>
                        <option value="zona 3">zona 3</option>
                    </select>
                    <p class="subtitle">Control fisico</p>

                    <label class="label">Sabor insipido</label>
                    <select class="input" id="sabor-insipido">
                        <option value="blanco"> </option>
                        <option value="Cumple">Cumple</option>
                        <option value="No cumple">No cumple</option>
                    </select>
                    <label class="label">Olor inodora</label>
                    <select class="input" id="olor-inodora">
                        <option value="blanco"> </option>
                        <option value="Cumple">Cumple</option>
                        <option value="No cumple">No cumple</option>
                    </select>
                    <label class="label">Color incoloro</label>
                    <select class="input" id="color-incoloro">
                        <option value="blanco"> </option>
                        <option value="Cumple">Cumple</option>
                        <option value="No cumple">No cumple</option>
                    </select>

                    <p class="subtitle">Control quimico</p>

                    <label class="label">PH (6,5 - 8,5)</label>
                    <input class="input" type="number" min="6.5" max="8.5" step="0.1" id="ph">
                    <label class="label">Cloro libre (0,2 - 2,0 mg/l)</label>
                    <input class="input" type="number" min="0.2" max="2.0" step="0.1" id="cloro-libre">

                    <label class="label">AC</label>
                    <select class="input" id="ac">
                        <option value="blanco"> </option>
                        <option value="1">1</option>
                    </select>
                    <p class="sub-subtitle">(1) En el caso de existir una desviacion durante el monitoreo, el tecnologo de calidad debera realizar monitoreo cada una hora por tres tomas de muestra, se ser reiterativa la desviacion se debera informar al jefe de planta.</p>

                    <label class="label">Resultado de la AC</label>
                    <select class="input" id="resultado-ac">
                        <option value="blanco"> </option>
                        <option value="ph">PH</option>
                        <option value="cloro">Cloro</option>
                    </select>
                </div>
            </form>         
        </div>
        <div class="botones">
            <form class="form">
                {% csrf_token %}
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div> 
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'monitoreo_del_agua/scrip_r_monitoreo_del_agua.js' %}"></script>
</body>
</html>