{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'monitoreo_de_plagas/estilos_r_monitoreo_de_plagas.css' %}">
    <link rel="icon" href="{% static 'monitoreo_de_plagas/images/logoquinta2.png' %}" />
    <title>Monitoreo de plagas P-POES-Q-05-02</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'monitoreo_de_plagas/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Control de plagas P-POES-Q-05-02</h1>
            <p class="subtitle">Solo ingresar una vez datos de quien registra</p>
            <label class="label">Nombre tecnologo calidad</label>
            <input type="text" class="input" id="nombre-tecnologo">
            <label class="label">Fecha</label>
            <input class="input" type="datetime-local" id="fecha-reg">
        </div>
        <div class="login-container">
            <h2 class="title">Ingreso datos de trampas</h2>
            <p class="subtitle2">Ingresar cada trampa y luego grabar</p>

            <label class="label">Numero Estacion</label>
            <input class="input" type="number" id="numero-estacion">

            <label class="label">Tipo de plaga</label>
                <select class="input" id="tipo-plaga">
                    <option value="blanco"> </option>
                    <option value="roedores">Roedores</option>
                    <option value="voladores">Voladores</option>
                </select>
            
            <label class="label">Tipo de trampa</label>
                <select class="input" id="tipo-trampa">
                    <option value="blanco"> </option>
                    <option value="cebadera">Cebadera</option>
                    <option value="pegajosa">Pegajosa</option>
                    <option value="capturaviva">Captura viva</option>
                    <option value="tuv">TUV</option>
                </select>

            <label class="label">Ubicacion</label>
                <select class="input" id="ubicacion">
                    <option value="blanco"> </option>
                    <option value="deslinde">Deslinde</option>
                    <option value="pcercano">P. cercano</option>
                    <option value="interna">Interna</option>
                </select>

            <label class="label">Monitoreo</label>
                <select class="input" id="monitoreo">
                    <option value="blanco"> </option>
                    <option value="operativa">Operativa</option>
                    <option value="cumple">Cumple</option>
                    <option value="conconsumo">Con consumo</option>
                    <option value="nocumple">No cumple</option>
                    <option value="noaplica">No aplica</option>
                    <option value="noencontrado">No encontrado</option>
                </select>

            <label class="label">AC</label>
                <select class="input-ac" id="ac">
                    <option value="blanco"> </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                </select>
            <p class="sub-subtitle">(1) Trampas UV no se encuantran activas, se deberian conectar inmediatamente.</p>
            <p class="sub-subtitle">(2) Trampas UV se encuentran colapsadas de insectos, se debera dar aviso al servicio de control de plagas para la reposicion de la lamina pegagosa.</p>
            <p class="sub-subtitle">(3) Trampas presentan desperfecto, rotas o se encuentran extraviadas, se debera dar aviso al servicio de control de plagas para su reposicion o arreglo.</p>
            <p class="sub-subtitle">(4) Trampas presentan consumo total o parcial, se debera dar aviso al servicio de control de plagas para su reposicion.</p>
            <p class="sub-subtitle">(5) Si durante el monitoreo una de las trampas presenta un vector, se debera dar aviso al servicio de control de plagas y/o, por parte del tecnologo de calidad debera realizar la captura o eliminacion del roedor utilizando mascarilla y guantes, para posteriormente colocarlo en doble bolsa cerrada, para finalmente desecharlo en el contenedor de basura.</p>
        
        </div>
        <div class="botones">
            <form class="form" action="#">
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="#">
                <button class="primary-button login-button">Grabar y salir</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'monitoreo_de_plagas/scrip_r_monitoreo_de_plagas.js' %}"></script>
</body>
</html>