{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'recepcion_mpme/estilos_r_recepcion_mpme.css' %}">
    <link rel="icon" href="{% static 'recepcion_mpme/images/logoquinta2.png' %}" />
    <title>Recepcion materias primas y material de envasado R-POE-E-02-01</title>
</head>
<body>
    <div class="inicio">
        <img src="{% static 'recepcion_mpme/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="container-inicio">
            <h1 class="title">Control de recepcion de materias primas R-POE-E-02-01</h1>
            <p class="subtitle">Solo ingresar una vez datos de quien registra</p>
            <label class="label">Lote dia</label>
            <input type="text" class="input" id="lote-dia">
            <label class="label">Fecha</label>
            <input class="input" type="datetime-local" id="fecha-reg">
        </div>
        <div class="container-inicio">
            <h2 class="title">Ingreso datos monitoreo</h2>
            <p class="subtitle">Ingresar cada registro y luego grabar</p>

            <label class="label">Proveedor</label>
            <input type="text" class="input" id="proveedor">

            <label class="label">Producto</label>
            <input type="text" class="input" id="producto">

            <label class="label">Elaboracion</label>
            <input type="date" class="input" id="fecha-elab">

            <label class="label">Vencimiento</label>
            <input type="date" class="input" id="fecha-venc">

            <label class="label">Lote</label>
            <input type="text" class="input" id="lote-producto">

            <label class="label">N° Factura</label>
            <input type="text" class="input" id="numero-factura">

            <p class="subtitle">Condiciones de transporte</p>

            <label class="label">Higiene</label>
            <select class="input" id="higiene">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
            </select>

            <label class="label">Resolucion sanitaria</label>
            <select class="input" id="rs">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
            </select>

            <label class="label">Temperatura °C transporte (-20 a 20 °C) o NA</label>
            <input type="text" class="input" id="temperatura-trans">

            <p class="subtitle">Caracteristicas de producto</p>

            <label class="label">Apariencia</label>
            <select class="input" id="apariencia">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
            </select>

            <label class="label">Textura</label>
            <select class="input" id="textura">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
            </select>

            <label class="label">Ausencia de materias extrañas</label>
            <select class="input" id="ausencia-me">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
            </select>

            <label class="label">Temperatura °C producto (-20 a 20 °C) o NA</label>
            <input type="text" class="input" id="temperatura-prod">

            <label class="label">Condicion del envase</label>
            <select class="input" id="condicion-env">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No existe">No existe</option>
                <option value="No aplica">No aplica</option>
            </select>

            <label class="label">Color</label>
            <select class="input" id="color">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No existe">No existe</option>
                <option value="No aplica">No aplica</option>
            </select>

            <label class="label">Olor</label>
            <select class="input" id="olor">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No existe">No existe</option>
                <option value="No aplica">No aplica</option>
            </select>

            <label class="label">Sabor</label>
            <select class="input" id="sabor">
                <option value="blanco"> </option>
                <option value="Cumple">Cumple</option>
                <option value="No cumple">No cumple</option>
                <option value="No existe">No existe</option>
                <option value="No aplica">No aplica</option>
            </select>

            <label class="label">° Brix o NA</label>
            <input type="text" class="input" id="grados-brix">
        </div>
        <div class="botones">
            <form class="form">
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'recepcion_mpme/scrip_r_recepcion_mpme.js' %}"></script>
</body>
</html>