{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'selecciones/estilos_selecciones.css' %}">
    <link rel="icon" href="{% static 'selecciones/images/logoquinta2.png' %}" />
    <title>Seleccion de registros Procesos</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'selecciones/images/logoquinta.png' %}" alt="logo" class="logo">
        <h1 class="title">Seleccionar registro a ingresar</h1>
        <div class="login-container">
            <p class="subtitle">POE</p>
            <p class="registro">
                <span>1.- Registro control de pesos: </span>
                <a href="{% url 'redireccionar_control_de_pesos' %}">TORTAS</a>
            </p>
            <p class="registro">
                <span>2.- Registro control de pesos: </span>
                <a href="{% url 'redireccionar_control_de_pesos_prelistos' %}">PRELISTOS</a>
            </p>
            <p class="registro">
                <span>3.- Registro control de pesos: </span>
                <a href="{% url 'redireccionar_control_de_pesos_insumos_kuchen' %}">SUB, INSUMOS, KUCHEN y PASTELES</a>
            </p>
            <p class="registro">
                <span>4.- Registro control parametros Gorrei: </span>
                <a href="{% url 'redireccionar_control_parametros_gorreri' %}">CREMAS</a>
            </p>
            <p class="registro">
                <span>5.- Registro control parametros: </span>
                <a href="{% url 'redireccionar_control_parametros_bizcocho' %}">BIZCOCHOS</a>
            </p>
            <p class="registro">
                <span>6.- Registro nuevo layout tortas: </span>
                <a href="{% url 'redireccionar_RegistroCreateView' %}">LAYOUT TORTAS</a>
            </p>
        </div>
        <form class="form" action="{% url 'redireccionar_index' %}">
            <button class="primary-button login-button">Volver inicio</button>
        </form>
    </div>
</body>
</html>




