venv/
SCG_Quinta/SCG_Quinta/__pycache__/
SCG_Quinta/db.sqlite3
#*.png
#*.jpg
__pycache__/
*.pyc
.vscode/
```
I have tried to add the following to the .gitignore file:
```
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
```
