{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'pcc2_detector_metales/estilos_r_pcc2_detector_metales.css' %}">
    <link rel="icon" href="{% static 'pcc2_detector_metales/images/logoquinta2.png' %}" />
    <title>Registro PPC N°2 Deteccion de metales R-POE-E-03-09</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'pcc2_detector_metales/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Registro PCC N°2 Deteccion de metales R-POE-E-03-09</h1>
        </div>
        <div class="login-container">
            <label class="label">Lote dia</label>
            <input type="text" class="input" id="lote">
            <label class="label">Turno</label>
                <select class="input" id="turno">
                    <option value="blanco"> </option>
                    <option value="Turno A">A</option>
                    <option value="Turno B">B</option>
                    <option value="Turno C">C</option>
                </select>
            <label class="label">Tipo metal</label>
                <select class="input" id="tipo-metal">
                    <option value="blanco"> </option>
                    <option value="Ferroso">Ferroso</option>
                    <option value="Acero inox">Aceron inoxidable</option>
                </select>

            <label class="label">Medicion</label>
                <select class="input" id="medicion">
                    <option value="blanco"> </option>
                    <option value="D">D</option>
                    <option value="ND">ND</option>
                    <option value="SP">SP</option>
                </select>

            <label class="label">Producto</label>
                <select class="input" id="producto">
                    <option value="blanco"> </option>
                    <option value="Torta piña jumbo">Torta piña jumbo</option>
                    <option value="Torta hoja manjar jumbo">Torta hoja manjar jumbo</option>
                    <option value="Torta hoja manjar pastelera jumbo">Torta hoja manjar pastelera jumbo</option>
                    <option value="Torta lucuma jumbo">Torta lucuma jumbo</option>
                    <option value="Torta selva negra jumbo">Torta selva negra jumbo</option>
                    <option value="Torta tres leches jumbo">Torta tres leches jumbo</option>
                    <option value="Torta viena jumbo">Torta viena jumbo</option>
                    <option value="Torta trufa jumbo">Torta trufa jumbo</option>
                    <option value="Torta panqueque naranja jumbo">Torta panqueque naranja jumbo</option>
                    <option value="Torta cuatro leches jumbo">Torta cuatro leches jumbo</option>
                    <option value="Torta bombom jumbo">Torta bombom jumbo</option>
                    <option value="Torta beatriz jumbo">Torta beatriz jumbo</option>
                    <option value="Torta san jorge jumbo">Torta san jorge jumbo</option>
                    <option value="Torta san jorge chocolate jumbo">Torta san jorge chocolate jumbo</option>
                    <option value="Torta san jorge guinda jumbo">Torta san jorge guinda jumbo</option>
                    <option value="Torta celebracion jumbo">Torta celebracion jumbo</option>
                    <option value="Torta chocolate frambuesa vegana jumbo">Torta chocolate frambuesa vegana jumbo</option>
                    <option value="Pastel piña jubmo">Pastel piña jubmo</option>
                    <option value="Pastel trufa jumbo">Pastel trufa jumbo</option>
                    <option value="Pastel tres leches jumbo">Pastel tres leches jumbo</option>
                    <option value="Pastel hoja manjar pastelera jumbo">Pastel hoja manjar pastelera jumbo</option>
                    <option value="Pastel panqueque naranja jumbo">Pastel panqueque naranja jumbo</option>
                    <option value="Pastel selva negra jumbo">Pastel selva negra jumbo</option>
                    <option value="Torta mocaccino mediana sisa">Torta mocaccino mediana sisa</option>
                    <option value="Torta crema manjar mediana sisa">Torta crema manjar mediana sisa</option>
                    <option value="Torta hoja manjar mediana sisa">Torta hoja manjar mediana sisa</option>
                    <option value="Torta piña 15 pp sisa">Torta piña 15 pp sisa</option>
                    <option value="Torta selva negra 15 pp sisa">Torta selva negra 15 pp sisa</option>
                    <option value="Torta tres leches sisa">Torta tres leches sisa</option>
                    <option value="Torta yogurt sisa">Torta yogurt sisa</option>
                    <option value="Torta panqueque naranja sisa">Torta panqueque naranja sisa</option>
                    <option value="Torta viena sisa">Torta viena sisa</option>
                    <option value="Torta amor sisa">Torta amor sisa</option>
                    <option value="Torta crema frambuesa mediana sisa">Torta crema frambuesa mediana sisa</option>
                    <option value="Torta merengue frambuesa sisa">Torta merengue frambuesa sisa</option>
                    <option value="Torta merengue lucuma sisa">Torta merengue lucuma sisa</option>
                    <option value="Torta tres leches congelada sisa">Torta tres leches congelada sisa</option>
                    <option value="Torta sacher quinta">Torta sacher quinta</option>
                    <option value="Torta lucuma manjar quinta">Torta lucuma manjar quinta</option>
                    <option value="Torta guinda chocolate quinta">Torta guinda chocolate quinta</option>
                    <option value="Tartaleta fruta mixta sisa">Tartaleta fruta mixta sisa</option>
                    <option value="Tarta durazno mediana sisa">Tarta durazno mediana sisa</option>
                    <option value="Kuchen damasco mediano sisa">Kuchen damasco mediano sisa</option>
                    <option value="Kuchen manzana mediano sisa">Kuchen manzana mediano sisa</option>
                    <option value="Kuchen frambuesa mediano sisa">Kuchen frambuesa mediano sisa</option>
                    <option value="Pie de limon sisa">Pie de limon sisa</option>
                    <option value="Berlin pastelera sisa">Berlin pastelera sisa</option>
                    <option value="Berlin manjar sisa">Berlin manjar sisa</option>
                    <option value="Pastel hoja manjar sisa">Pastel hoja manjar sisa</option>
                    <option value="Pastel yogurt sisa">Pastel yogurt sisa</option>
                    <option value="Pastel selva negra sisa">Pastel selva negra sisa</option>
                    <option value="Pastel piña sisa">Pastel piña sisa</option>
                    <option value="Pastel tres leches sisa">Pastel tres leches sisa</option>
                    <option value="Pastel viena sisa">Pastel viena sisa</option>
                </select>
            
            <label class="label">Observaciones</label>
            <input type="text" class="input" id="obs">

            <label class="label">AC</label>
                <select class="input" id="ac">
                    <option value="blanco"> </option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                </select>
            <p class="sub-subtitle">(1) Si durante el monitoreo del funicionamiento del equipo, los patrones no son detectados, se debe ajustar y revisar los parametros del detector hasta que los patrones sean detectados nuevamente. los productor previos a la ultima verificacion se debe bloquear y volver a evaluar.</p>
            <p class="sub-subtitle">(2) Si durante el paso de productos, el detector evidencia presencia de metal, el producto se retiene y se vuelve a pasar por el detector de metales, trozar hasta encontrar el contaminante. Si existe presencia de metal, se debe investigar la causa.</p>
        </div>
        <div class="botones">
            <form class="form">
                {% csrf_token %}
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'pcc2_detector_metales/scrip_r_pcc2_detector_metales.js' %}"></script>
</body>
</html>