:root{
    --very-light-pink: #C7C7C7;
    --text-input-field: #F7F7F7;
    --hospital-green: #ACD9B2;
    --rojo-quinta: #B43C2C;
    --amarillo-quinta: #f3ba14;
    --naranjo-quinta: #d07020;
    --naranjo-claro-quinta: #d4841c;
    --white: #FFFFFF;
    --black: #000000;
    --sm: 14px;
    --md: 16px;
    --lg: 18px;
}
body {
    margin: 24;
    font-family: 'Quicksand', sans-serif;
    background-image: url(./images/Fondo.png);
}
.login {
    width: 100%;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-items: center;
}
.logo {
    width: 200px;
    margin-bottom: 16px;
    justify-self: center;
}
.title {
    font-size: 32px;
    margin-bottom: 8px;
    text-align: center;
    color: var(--black);
}
.filtro-fechas {
    display: flex;                /* Para mostrar sus hijos en una fila horizontal */
    justify-content: space-between;  /* Para espaciar los elementos uniformemente */
    align-items: center;          /* Alineaci칩n vertical centrada de los elementos */
    padding: 10px;                /* Proporcionar un espaciado alrededor de los elementos */
    background-color: var(--amarillo-quinta);  /* Utilizando la variable de color existente */
    border-radius: 16px;          /* Esquinas redondeadas como otros elementos */
    width: 630px;                 /* Ajustar al ancho del login-container */
    margin-bottom: 20px;          /* Proporcionar un espacio debajo de la secci칩n de filtro */
}

.filtro-fechas .label {
    margin-right: 10px;           /* Proporcionar espacio entre la etiqueta y el campo de entrada */
}

.filtro-fechas .input {
    background-color: var(--text-input-field);  /* Utilizando la variable de color existente */
    border: 1px solid var(--very-light-pink);   /* Utilizando la variable de color existente */
    border-radius: 8px;          /* Esquinas redondeadas para los campos de entrada */
    padding: 5px;                /* Relleno dentro del campo de entrada */
    font-size: var(--md);        /* Utilizando la variable de tama침o de fuente existente */
}
.primary-button2 {
    background-color: var(--rojo-quinta);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 100px;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
}
.login-container {
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 650px;
    justify-items: center;
    background-color: var(--amarillo-quinta);
    border-radius: 32px;
    margin-bottom: 30px;
}
.subtitle {
    color: var(--rojo-quinta);
    font-size: 24px;
    font-weight: 300;
    margin-top: 12px;
    font-weight: bold;
    margin-bottom: 12px;
    text-align: center;
}
.registro {
    font-size: var(--md);   
}
.registro span {
    color: var(--black);
    font-weight: bold;
}
.registro a {
    color: var(--white);
    text-decoration: none;
}
.form {
    display:  grid;
    flex-direction: column;
    justify-items: center;
}
.primary-button {
    background-color: var(--rojo-quinta);
    border-radius: 8px;
    border: none;
    color: var(--white);
    width: 50%;
    cursor: pointer;
    font-size: var(--md);
    font-weight: bold;
    height: 40px;
}
.login-button {
    margin-top: 14px;
    margin-bottom: 30px;
}
@media (max-width: 650px) {
    .login-container {
        width: 300px;
    }
    .registro {
        font-size: 12px;   
    }
    .title {
        font-size: var(--md);
    }
    .filtro-fechas {
        width: 300px; /* Ajustar el ancho del filtro para pantallas peque침as */
    }
    .filtro-fechas .input {
        font-size: var(--sm);
    }
}