{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'login/estilos_crear_cuenta.css' %}">
    <link rel="icon" href="{% static 'login/images/logoquinta2.png' %}"/>
    <title>Crear cuenta</title>
</head>
<body>
    <div class="login">
        <div class="form-container">
            <img src="{% static 'login/images/logoquinta.png' %}" alt="logo" class="logo">
            <h1 class="title">Crear cuenta</h1>
            <p class="subtitle">Ingresa tus datos para crear cuenta</p>
            <div class="inputs-container">
                <label class="label">Nombre completo</label>
                <input type="text" id="nombre-completo" class="input input-nombre-completo">

                <label class="label">Perfil de usuario</label>
                <select class="input" id="perfil-usuario">
                    <option value="blanco"> </option>
                    <option value="Tecnologo calidad">Tecnologo calidad</option>
                    <option value="Jefe calidad">Jefe calidad</option>
                    <option value="Devps">Devps</option>
                    <option value="Otro">Otro</option>
                </select>

                <label class="label">RUT (sin puntos ni guion)</label>
                <input type="text" id="rut" class="input input-rut">

                <label for="password" class="label">Contraseña</label>
                <input type="password" id="password" placeholder="**********" class="input input-password">

                <label for="new-password" class="label">Repita contraseña</label>
                <input type="password" id="new-password" placeholder="**********" class="input input-password">
                {% if messages %}
                <ul class="messages">
                    {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                    {% endfor %}
                </ul>
                {% endif %}
            </div>
                
            <div class="button-container">
                <div id="mensaje" style="color: red; margin-bottom: 1em;"></div>
                <form id="miBoton">
                    {% csrf_token %}
                    <button class="primary-button login-button">Confirmar</button>
                </form>
                <form action="{% url 'main' %}">
                    <button class="primary-button login-button">Salir</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'login/scrips_crear_cuenta.js' %}"></script>
</body>
</html>