{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'login/estilos_ingresa_rut.css' %}">
    <link rel="icon" href="{% static 'login/images/logoquinta2.png' %}"/>
    <title>Ingreso RUT</title>
</head>
<body>
    <div class="login">
        <div class="login-container">
            <img src="{% static 'login/images/logoquinta.png' %}" alt="logo" class="logo">
            <h1 class="title">Ingresa tu RUT para recuperar cuenta</h1>
            <p class="subtitle">Ingresar sin puntos ni guion</p>
            <p class="subtitle">(ej: 12.345.678-9 ingresar 123456789)</p>
            <form action="#" class="form">
                <label for="rut" class="label">RUT</label>
                <input type="text" id="rut" placeholder="*********" class="input input-rut">
            </form>
            <div class="button-container">
                <form id="miBoton">
                    {% csrf_token %}
                    <button class="primary-button login-button">Confirmar</button>
                </form>
                <form action="{% url 'main' %}">
                    <button class="primary-button login-button">Salir</button>
                </form>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{% static 'login/scrips_ingresa_rut.js' %}"></script>
</body>
</html>