{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300;500;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'informe_de_incidentes/estilos_r_informe_de_incidentes.css' %}">
    <link rel="icon" href="{% static 'informe_de_incidentes/images/logoquinta2.png' %}" />
    <title>Informe de incidentes R-POE-Q-15-01</title>
</head>
<body>
    <div class="login">
        <img src="{% static 'informe_de_incidentes/images/logoquinta.png' %}" alt="logo" class="logo">
        <div class="login-container">
            <h1 class="title">Informe de incidentes R-POE-Q-15-01</h1>
        </div>
        <div class="login-container">
            <label class="label">Fuente del material</label>
            <input type="text" class="input" id="fuente-material">
            <label class="label">Cantidad producto contaminado</label>
            <input type="text" class="input" id="cantidad-cont">
            <label class="label">Unidad de medida</label>
                <select class="input" id="udm">
                    <option value="blanco"> </option>
                    <option value="kg">Kg</option>
                    <option value="gr">gr</option>
                    <option value="un">Un</option>
                    <option value="l">l</option>
                </select>
            <label class="label">Lote producto contaminado</label>
            <input type="text" class="input" id="lote-prod-cont">
            <label class="label">Observaciones</label>
            <input type="text" class="input" id="obs">
        </div>
        <div class="login-container">
            <label class="label">Analisis de causa</label>
            <input type="text" class="input" id="analisis-causa">
            <label class="label">Acciones correctivas y/o preventivas</label>
            <input type="text" class="input" id="ac">
        </div>
        <div class="botones">
            <form class="form">
                {% csrf_token %}
                <button class="primary-button login-button" id="miBoton">Grabar y continuar</button>
            </form>
            <form class="form" action="{% url 'redireccionar_selecciones' %}">
                <button class="primary-button login-button">Salir</button>
            </form>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        // Definir el token CSRF para su uso en las solicitudes AJAX
        var csrftoken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'informe_de_incidentes/scrip_r_informe_de_incidentes.js' %}"></script>
</body>
</html>